In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px   #interactive plots and visualizations
import plotly.io as pio  #Plotly I/O for exporting and displaying  static images 
pio.renderers.default = "svg"  # Scalable Vector Graphics high-quality graphics

In [ ]:
#!pip install plotly

In [2]:
dataset = pd.read_csv('Zomato_Mumbai_Dataset.csv',delimiter='|')

In [3]:
dataset.head()

,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
0,Hitchki,1200,"Modern Indian,North Indian,Chinese,Momos,Birya...",Mumbai,First International Financial Centre-- Bandra ...,https://www.zomato.com/mumbai/hitchki-bandra-k...,1,Casual Dining,12noon to 130am(Mon-Sun),Excellent,4.9,3529
1,Baba Falooda,400,"Desserts,Ice Cream,Beverages",Mumbai,Mahim,https://www.zomato.com/mumbai/baba-falooda-mah...,1,Dessert Parlor,2pm to 1am(Mon-Sun),Very Good,4.4,1723
2,Chin Chin Chu,1800,"Asian,Chinese",Mumbai,Juhu,https://www.zomato.com/mumbai/chin-chin-chu-ju...,1,Casual Dining,12noon to 1am(Mon-Sun),Very Good,4.2,337
3,Butterfly High,1000,Modern Indian,Mumbai,Bandra Kurla Complex,https://www.zomato.com/mumbai/butterfly-high-b...,1,Bar,12noon to 130am(Mon-Sun),Very Good,4.3,1200
4,BKC DIVE,1200,"North Indian,Chinese,Continental",Mumbai,Bandra Kurla Complex,https://www.zomato.com/mumbai/bkc-dive-bandra-...,1,Bar,1130am to 1am(Mon-Sun),Veľmi dobré,4.4,5995

In [4]:
dataset.shape

(15081, 12)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15081 entries, 0 to 15080
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NAME             15081 non-null  object
 1   PRICE            15080 non-null  object
 2   CUSINE_CATEGORY  15079 non-null  object
 3   CITY             15080 non-null  object
 4   REGION           15080 non-null  object
 5   URL              15080 non-null  object
 6   PAGE NO          15080 non-null  object
 7   CUSINE TYPE      15080 non-null  object
 8   TIMING           15015 non-null  object
 9   RATING_TYPE      14070 non-null  object
 10  RATING           15080 non-null  object
 11  VOTES            15080 non-null  object
dtypes: object(12)
memory usage: 1.4+ MB

In [6]:
dataset.describe()

,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
count,15081,15080,15079,15080,15080,15080,15080,15080,15015,14070,15080,15080
unique,12720,67,3183,2,241,13823,944,23,2551,31,35,1124
top,NAME,400,CUSINE_CATEGORY,Mumbai,REGION,URL,PAGE NO,Quick Bites,11am to 11pm(Mon-Sun),Average,-,-
freq,942,2042,942,14138,942,942,942,5262,1192,5112,2360,2360

In [7]:
wrong_data=dataset['PAGE NO']=='PAGE NO'
dataset[wrong_data]

,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
15,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
31,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
47,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
63,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
79,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
...,...,...,...,...,...,...,...,...,...,...,...,...
15000,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
15016,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
15032,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
15048,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
15064,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES

In [8]:
## Performing Negation of the wrong dataset and then storing the correct data back in the raw_df DataFrame
## This permamnently remove the wrong data from the original dataframe
dataset=dataset[~wrong_data]

In [9]:
dataset

,NAME,PRICE,CUSINE_CATEGORY,CITY,REGION,URL,PAGE NO,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
0,Hitchki,1200,"Modern Indian,North Indian,Chinese,Momos,Birya...",Mumbai,First International Financial Centre-- Bandra ...,https://www.zomato.com/mumbai/hitchki-bandra-k...,1,Casual Dining,12noon to 130am(Mon-Sun),Excellent,4.9,3529
1,Baba Falooda,400,"Desserts,Ice Cream,Beverages",Mumbai,Mahim,https://www.zomato.com/mumbai/baba-falooda-mah...,1,Dessert Parlor,2pm to 1am(Mon-Sun),Very Good,4.4,1723
2,Chin Chin Chu,1800,"Asian,Chinese",Mumbai,Juhu,https://www.zomato.com/mumbai/chin-chin-chu-ju...,1,Casual Dining,12noon to 1am(Mon-Sun),Very Good,4.2,337
3,Butterfly High,1000,Modern Indian,Mumbai,Bandra Kurla Complex,https://www.zomato.com/mumbai/butterfly-high-b...,1,Bar,12noon to 130am(Mon-Sun),Very Good,4.3,1200
4,BKC DIVE,1200,"North Indian,Chinese,Continental",Mumbai,Bandra Kurla Complex,https://www.zomato.com/mumbai/bkc-dive-bandra-...,1,Bar,1130am to 1am(Mon-Sun),Veľmi dobré,4.4,5995
...,...,...,...,...,...,...,...,...,...,...,...,...
15076,Hari Om Snack Bar,350,"Fast Food,South Indian,Chinese",Mumbai,Kandivali West,https://www.zomato.com/mumbai/hari-om-snack-ba...,99,Quick Bites,11am to 230am(Mon-Sun),Good,3.7,64
15077,PitaBurg,400,"Fast Food,Lebanese",Mumbai,Lower Parel,https://www.zomato.com/mumbai/pitaburg-lower-p...,99,none,"11am to 11pm(Mon,Tue,Wed,Thu,Sun),11am to ...",Average,3.4,99
15078,Uncha Otlawala,300,"Desserts,Ice Cream",Mumbai,Kandivali West,https://www.zomato.com/mumbai/uncha-otlawala-1...,99,Dessert Parlor,9am to 1230AM(Mon-Sun),Good,3.5,29
15079,Mandarin Panda,400,"Desserts,Chinese,Thai",Mumbai,Malad West,https://www.zomato.com/mumbai/mandarin-panda-m...,99,none,"12noon to 330pm,7pm to 1am(Mon-Sun)",Good,3.7,121
15080,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Dropping columns which are not required for further analysis
dataset.drop(['URL', 'PAGE NO', 'CITY'],axis=1, inplace = True)

In [11]:
dataset

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
0,Hitchki,1200,"Modern Indian,North Indian,Chinese,Momos,Birya...",First International Financial Centre-- Bandra ...,Casual Dining,12noon to 130am(Mon-Sun),Excellent,4.9,3529
1,Baba Falooda,400,"Desserts,Ice Cream,Beverages",Mahim,Dessert Parlor,2pm to 1am(Mon-Sun),Very Good,4.4,1723
2,Chin Chin Chu,1800,"Asian,Chinese",Juhu,Casual Dining,12noon to 1am(Mon-Sun),Very Good,4.2,337
3,Butterfly High,1000,Modern Indian,Bandra Kurla Complex,Bar,12noon to 130am(Mon-Sun),Very Good,4.3,1200
4,BKC DIVE,1200,"North Indian,Chinese,Continental",Bandra Kurla Complex,Bar,1130am to 1am(Mon-Sun),Veľmi dobré,4.4,5995
...,...,...,...,...,...,...,...,...,...
15076,Hari Om Snack Bar,350,"Fast Food,South Indian,Chinese",Kandivali West,Quick Bites,11am to 230am(Mon-Sun),Good,3.7,64
15077,PitaBurg,400,"Fast Food,Lebanese",Lower Parel,none,"11am to 11pm(Mon,Tue,Wed,Thu,Sun),11am to ...",Average,3.4,99
15078,Uncha Otlawala,300,"Desserts,Ice Cream",Kandivali West,Dessert Parlor,9am to 1230AM(Mon-Sun),Good,3.5,29
15079,Mandarin Panda,400,"Desserts,Chinese,Thai",Malad West,none,"12noon to 330pm,7pm to 1am(Mon-Sun)",Good,3.7,121
15080,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Checking for Null records
dataset.isna().sum()

NAME                  0
PRICE                 1
CUSINE_CATEGORY       2
REGION                1
CUSINE TYPE           1
TIMING               66
RATING_TYPE        1011
RATING                1
VOTES                 1
dtype: int64

In [15]:
# Checking for a null row
dataset[dataset['PRICE'].isnull()]

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES
15080,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Droping the above row from the dataset
dataset = dataset.drop(labels=15080, axis=0)

In [18]:
#Replacing the other null records with NA
dataset.fillna('NA', inplace=True)

In [19]:
# Confirming all the null records are correct
dataset.isnull().sum()

NAME               0
PRICE              0
CUSINE_CATEGORY    0
REGION             0
CUSINE TYPE        0
TIMING             0
RATING_TYPE        0
RATING             0
VOTES              0
dtype: int64

In [21]:
dataset.dtypes

NAME               object
PRICE              object
CUSINE_CATEGORY    object
REGION             object
CUSINE TYPE        object
TIMING             object
RATING_TYPE        object
RATING             object
VOTES              object
dtype: object

In [22]:
# Checking for text values in the column before converting it to numeric datatype
dataset['RATING'].value_counts()

RATING
-          2360
3.5        1094
3.4        1036
3.6         960
NEW         953
3.3         926
3.7         917
3.2         801
3.8         782
3.1         734
3.0         622
3.9         596
2.9         409
4.0         408
2.8         309
4.1         298
4.2         199
2.7         170
4.3         148
4.4          99
2.6          77
Opening      57
4.5          46
2.5          39
4.6          32
2.4          26
4.7          13
2.3          10
2.1           5
2.2           4
4.8           4
4.9           2
1.8           1
2.0           1
Name: count, dtype: int64

In [23]:
# Replacing the text values with '0'
dataset['RATING'].replace(to_replace=['-','NEW','Opening'], value='0', inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\1675990023.py:2: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [24]:
# Checking for text values in the column before converting it to numeric datatype
dataset['VOTES'].value_counts()

VOTES
-       2360
NEW      953
4        364
5        320
6        288
        ...
1029       1
7350       1
964        1
585        1
1249       1
Name: count, Length: 1123, dtype: int64

In [25]:
# Replacing the text values with '0'
dataset['VOTES'].replace(to_replace=['-','NEW','Opening'], value='0', inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\2396252053.py:2: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [26]:
# Replacing the text values with '0'
dataset['VOTES'].replace(to_replace=['-','NEW','Opening'], value='0', inplace=True)

In [27]:
dataset['PRICE'].value_counts()

PRICE
400     2042
500     1954
300     1936
200     1177
600     1062
        ...
5000       1
398        1
3500       1
1550       1
2700       1
Name: count, Length: 66, dtype: int64

In [28]:
# Changing Data Type of the numerical columns
dataset['PRICE'] = dataset['PRICE'].astype('int64')
dataset['RATING'] = dataset['RATING'].astype('float64')
dataset['VOTES'] = dataset['VOTES'].astype('int64')

In [29]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14138 entries, 0 to 15079
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NAME             14138 non-null  object
 1   PRICE            14138 non-null  int64
 2   CUSINE_CATEGORY  14138 non-null  object
 3   REGION           14138 non-null  object
 4   CUSINE TYPE      14138 non-null  object
 5   TIMING           14138 non-null  object
 6   RATING_TYPE      14138 non-null  object
 7   RATING           14138 non-null  float64
 8   VOTES            14138 non-null  int64
dtypes: float64(1), int64(2), object(6)
memory usage: 1.1+ MB

In [30]:
dataset['TIMING'].value_counts()

TIMING
11am to 11pm(Mon-Sun)                              1192
11am to 12midnight(Mon-Sun)                         632
12noon to 12midnight(Mon-Sun)                       467
11am to 1130pm(Mon-Sun)                             309
10am to 10pm(Mon-Sun)                               267
                                                   ...
1130am to 4pm,630pm to 1230AM...                      1
12midnight to 5am,12noon to 12midnight(Mon-Sun)       1
12midnight to 1230AM,12noon to 4pm,7pm to ...         1
12noon to 330pm,630pm to 12midnight...                1
8am to 11pm,12midnight to 115am(Mon-Sun)              1
Name: count, Length: 2551, dtype: int64

In [31]:
# Splitting the column and storing it in temp_df dataframe
temp_dataset = dataset['TIMING'].str.split("(", n = 1, expand = True)
temp_dataset

                                     0                                 1
0                      12noon to 130am                          Mon-Sun)
1                           2pm to 1am                          Mon-Sun)
2                        12noon to 1am                          Mon-Sun)
3                      12noon to 130am                          Mon-Sun)
4                        1130am to 1am                          Mon-Sun)
...                                ...                               ...
15075  8am to 11pm,12midnight to 115am                          Mon-Sun)
15076                    11am to 230am                          Mon-Sun)
15077                     11am to 11pm  Mon,Tue,Wed,Thu,Sun),11am to ...
15078                    9am to 1230AM                          Mon-Sun)
15079       12noon to 330pm,7pm to 1am                          Mon-Sun)

[14138 rows x 2 columns]

In [32]:
temp_dataset.head(50)

,0,1
0,12noon to 130am,Mon-Sun)
1,2pm to 1am,Mon-Sun)
2,12noon to 1am,Mon-Sun)
3,12noon to 130am,Mon-Sun)
4,1130am to 1am,Mon-Sun)
5,12noon to 1am,Mon-Sun)
6,10am to 3am,Mon-Sun)
7,12noon to 130am,Mon-Sun)
8,11am to 1am,Mon-Sun)
9,12noon to 1am,Mon-Sun)
10,12noon to 1am,Mon-Sun)
11,12noon to 1am,Mon-Sun)
12,9am to 1am,"Mon),9am to 130am(Tue-Sun)"
13,1130am to 5am,"Mon),1130am to 130am(Tue,Wed..."
14,12noon to 130am,Mon-Sun)
16,730am to 130am,Mon-Sun)
17,"12noon to 4pm,7pm to 4am",Mon-Sun)
18,8am to 1230AM,Mon-Sun)
19,12noon to 1230AM,Mon-Sun)
20,12noon to 1am,Mon-Sun)
21,Closed,"Mon),12noon to 130am(Tue-Sun)"
22,10am to 4am,Mon-Sun)
23,"12noon to 3pm,7pm to 1230AM",Mon-Sun)
24,12noon to 130am,"Mon-Fri),12noon to 3am(Sat-Sun)"
25,10am to 130am,Mon-Sun)
26,12noon to 1230AM,Mon-Sun)
27,11am to 1am,Mon-Sun)
28,11am to 1am,Mon-Sun)
29,12noon to 1am,Mon-Sun)
30,12noon to 130am,Mon-Sun)
32,1030am to 1230AM,Mon-Sun)
33,4pm to 230am,Mon-Sun)
34,11am to 3am,Mon-Sun)
35,"12noon to 330pm,430pm to 2am",Mon-Sun)
36,"12noon to 330pm,7pm to 3am",Mon-Sun)
37,"12midnight to 130am,12noon to 12midnight...",None
38,11am to 1230AM,Mon-Sun)
39,12noon to 1230AM,Mon-Sun)
40,"12noon to 330pm,7pm to 330am","Mon,Tue,Wed..."
41,10am to 1230AM,Mon-Sun)
42,1pm to 1am,Mon-Sun)
43,12noon to 12midnight,Mon-Sun)
44,12noon to 12midnight,Mon-Sun)
45,7am to 11pm,Mon-Sun)
46,530pm to 1130pm,Mon-Sun)
48,12noon to 11pm,"Mon-Thu),12noon to 1130pm(Fri-Sun)"
49,1030am to 12midnight,Mon-Sun)
50,1130am to 1145pm,Mon-Sun)
51,7am to 11pm,Mon-Sun)
52,10am to 11pm,Mon-Sun)

In [33]:
# Assigning the columns back to the raw_df dataframe
dataset['TIMING'] = temp_dataset[0]
dataset['DAYS_OPEN'] = temp_dataset[1]
dataset.head()

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES,DAYS_OPEN
0,Hitchki,1200,"Modern Indian,North Indian,Chinese,Momos,Birya...",First International Financial Centre-- Bandra ...,Casual Dining,12noon to 130am,Excellent,4.9,3529,Mon-Sun)
1,Baba Falooda,400,"Desserts,Ice Cream,Beverages",Mahim,Dessert Parlor,2pm to 1am,Very Good,4.4,1723,Mon-Sun)
2,Chin Chin Chu,1800,"Asian,Chinese",Juhu,Casual Dining,12noon to 1am,Very Good,4.2,337,Mon-Sun)
3,Butterfly High,1000,Modern Indian,Bandra Kurla Complex,Bar,12noon to 130am,Very Good,4.3,1200,Mon-Sun)
4,BKC DIVE,1200,"North Indian,Chinese,Continental",Bandra Kurla Complex,Bar,1130am to 1am,Veľmi dobré,4.4,5995,Mon-Sun)

In [34]:
# Removing the bracket character from Days column
dataset['DAYS_OPEN'] = dataset['DAYS_OPEN'].str.replace('\)','',regex=True)
dataset.head()

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES,DAYS_OPEN
0,Hitchki,1200,"Modern Indian,North Indian,Chinese,Momos,Birya...",First International Financial Centre-- Bandra ...,Casual Dining,12noon to 130am,Excellent,4.9,3529,Mon-Sun
1,Baba Falooda,400,"Desserts,Ice Cream,Beverages",Mahim,Dessert Parlor,2pm to 1am,Very Good,4.4,1723,Mon-Sun
2,Chin Chin Chu,1800,"Asian,Chinese",Juhu,Casual Dining,12noon to 1am,Very Good,4.2,337,Mon-Sun
3,Butterfly High,1000,Modern Indian,Bandra Kurla Complex,Bar,12noon to 130am,Very Good,4.3,1200,Mon-Sun
4,BKC DIVE,1200,"North Indian,Chinese,Continental",Bandra Kurla Complex,Bar,1130am to 1am,Veľmi dobré,4.4,5995,Mon-Sun

In [35]:
# Checking for Null records in DAYS_OPEN column
dataset.isnull().sum()

NAME                 0
PRICE                0
CUSINE_CATEGORY      0
REGION               0
CUSINE TYPE          0
TIMING               0
RATING_TYPE          0
RATING               0
VOTES                0
DAYS_OPEN          160
dtype: int64

In [36]:
# Replacing the Null values with 'NA'
dataset.fillna('NA', inplace=True)

In [37]:
# Checking info of all the columns
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14138 entries, 0 to 15079
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NAME             14138 non-null  object
 1   PRICE            14138 non-null  int64
 2   CUSINE_CATEGORY  14138 non-null  object
 3   REGION           14138 non-null  object
 4   CUSINE TYPE      14138 non-null  object
 5   TIMING           14138 non-null  object
 6   RATING_TYPE      14138 non-null  object
 7   RATING           14138 non-null  float64
 8   VOTES            14138 non-null  int64
 9   DAYS_OPEN        14138 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 1.2+ MB

In [38]:
# Finding those restaurant whose has 0 Rating or Votes
useless_data = (dataset['RATING'] == 0.0) | (dataset['VOTES'] == 0)
dataset[useless_data]

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES,DAYS_OPEN
32,Hotel Annapoorna Refreshments,400,"Maharashtrian,Mughlai,Chinese",Ghansoli,Quick Bites,1030am to 1230AM,Not rated,0.0,0,Mon-Sun
34,Biryani 9,600,"Biryani,North Indian",Near Andheri East Station,none,11am to 3am,NA,0.0,0,Mon-Sun
36,D Fusion Flavours,350,Chinese,Goregaon East,none,"12noon to 330pm,7pm to 3am",NA,0.0,0,Mon-Sun
39,Nation Tadka,400,"North Indian,South Indian,Chinese,Fast Food",Worli,none,12noon to 1230AM,Not rated,0.0,0,Mon-Sun
83,Link Way Restaurant,500,"North Indian,Chinese",Jogeshwari,Quick Bites,"12noon to 4pm,8pm to 1am",Not rated,0.0,0,Mon-Sun
...,...,...,...,...,...,...,...,...,...,...
14998,Foodies House,0,Chinese,Goregaon East,none,12noon to 4am,NA,0.0,0,Mon-Sun
14999,Khansama,0,Biryani,Lower Parel,none,12noon to 3am,NA,0.0,0,Mon-Sun
15010,Earth Cafe @ Waterfield,800,"Cafe,Healthy Food,Italian,Pizza,Beverages",Linking Road-- Bandra West,Café,10am to 10pm,NA,0.0,0,"Mon-Thu,10am to 11pm(Fri-Sun"
15023,How About Some Cream,200,Beverages,Mumbai Central,Beverage Shop,12noon to 3am,NA,0.0,0,Mon-Sun
15046,Food And Taste Theory,800,"Continental,Italian",Phoenix Marketcity-- Kurla,Casual Dining,9am to 12midnight,NA,0.0,0,"Mon-Fri,9am to 1230AM(Sat-Sun"

In [39]:
## Performing Negation of the useless dataset and then storing the correct data back in the raw_df DataFrame
## This permamnently remove the wrong data from the original dataframe
dataset = dataset[~useless_data]

In [40]:
# Checking the unique values in the column
dataset['RATING_TYPE'].value_counts()

RATING_TYPE
Average          5111
Good             4330
Very Good        1137
Excellent          95
Poor               47
Veľmi dobré         6
Skvělá volba        4
Dobrze              4
Bardzo dobrze       3
Ortalama            2
Bueno               2
İyi                 2
Buono               2
Dobré               2
Bom                 2
Priemer             2
Průměr              2
Muito Bom           2
Promedio            2
Muy Bueno           1
Sangat Baik         1
Média               1
Biasa               1
Skvělé              1
Baik                1
Çok iyi             1
Excelente           1
Velmi dobré         1
Media               1
Name: count, dtype: int64

In [41]:
# Translating the texts into proper English text
dataset['RATING_TYPE'].replace(to_replace='Excelente' , value='Excellent', inplace=True)
dataset['RATING_TYPE'].replace(to_replace=['Veľmi dobré','Bardzo dobrze','Muy Bueno','Velmi dobré'] , value='Very Good',inplace=True)
dataset['RATING_TYPE'].replace(to_replace=['Skvělá volba','Dobrze','Bueno','Buono','Dobré','Bom','Skvělé'] , value='Good',inplace=True)
dataset['RATING_TYPE'].replace(to_replace=['Priemer','Média','Çok iyi'] , value='Average', inplace=True)
dataset['RATING_TYPE'].replace(to_replace=['Průměr','Promedio','Ortalama','Muito Bom','İyi'] , value='Poor', inplace=True)
dataset['RATING_TYPE'].replace(to_replace=['Baik','Biasa','Media','Sangat Baik'] , value='Very Poor', inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\818698782.py:2: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.



C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\818698782.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\818698782.py:3: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.



C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\818698782.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\818698782.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\818698782.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\818698782.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\818698782.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [42]:
# Checking all the values correctly mapped
dataset['RATING_TYPE'].value_counts()

RATING_TYPE
Average      5115
Good         4347
Very Good    1148
Excellent      96
Poor           57
Very Poor       4
Name: count, dtype: int64

In [43]:
dataset['REGION'].value_counts()

REGION
Mira Road                            405
Malad West                           308
Chembur                              277
Kharghar                             268
Borivali West                        264
                                    ...
Hotel Emerald-- Juhu                   1
Trident-- Bandra Kurla Complex         1
Sea Princess-- Juhu                    1
Aureole Hotel-- Andheri East           1
Hotel Satkar Residency-- Majiwada      1
Name: count, Length: 237, dtype: int64

In [44]:
# Removing the irrelevant text from the Region column
dataset['REGION'] = dataset['REGION'].str.replace('[a-zA-Z].+-- ','',regex=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\2425620013.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
# Removing the West & East from the Region column
dataset['REGION'] = dataset['REGION'].str.replace(' West| west| East| east','',regex=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\1803269033.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
dataset['REGION'].value_counts()

REGION
Thane                726
Mira Road            412
Andheri              409
Malad                378
Kandivali            377
                    ...
Flea Bazaar Café       3
Majiwada               3
Panvel                 2
CBD Belapur            1
Girgaon Chowpatty      1
Name: count, Length: 101, dtype: int64

In [47]:
dataset.head(50)

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES,DAYS_OPEN
0,Hitchki,1200,"Modern Indian,North Indian,Chinese,Momos,Birya...",Bandra Kurla Complex,Casual Dining,12noon to 130am,Excellent,4.9,3529,Mon-Sun
1,Baba Falooda,400,"Desserts,Ice Cream,Beverages",Mahim,Dessert Parlor,2pm to 1am,Very Good,4.4,1723,Mon-Sun
2,Chin Chin Chu,1800,"Asian,Chinese",Juhu,Casual Dining,12noon to 1am,Very Good,4.2,337,Mon-Sun
3,Butterfly High,1000,Modern Indian,Bandra Kurla Complex,Bar,12noon to 130am,Very Good,4.3,1200,Mon-Sun
4,BKC DIVE,1200,"North Indian,Chinese,Continental",Bandra Kurla Complex,Bar,1130am to 1am,Very Good,4.4,5995,Mon-Sun
5,Flea Bazaar Café,800,"American,Asian,Street Food,North Indian,Luckno...",Flea Bazaar Café,Café,12noon to 1am,Very Good,4.2,2042,Mon-Sun
6,Persian Darbar,1300,"Biryani,North Indian,Chinese,Mughlai",Marol,Casual Dining,10am to 3am,Excellent,4.5,3058,Mon-Sun
7,Tanatan,1500,Modern Indian,Juhu,Casual Dining,12noon to 130am,Excellent,4.7,1842,Mon-Sun
8,Cafe Safar,600,"Chinese,North Indian,Biryani",Andheri,Casual Dining,11am to 1am,Very Good,4.0,2797,Mon-Sun
9,Plum by Bent Chair,1800,Asian,Kamala Mills Compound,Casual Dining,12noon to 1am,Excellent,4.7,1876,Mon-Sun
10,Angrezi Dhaba,1500,"North Indian,Chinese,Thai,European",Dadar,Bar,12noon to 1am,Excellent,4.5,2092,Mon-Sun
11,Raasta,1200,"Continental,Seafood,Fast Food,Desserts,Italian...",Khar,Casual Dining,12noon to 1am,Very Good,4.0,3191,Mon-Sun
12,Todi Mill Social,1400,"American,North Indian,Chinese,Fast Food,Contin...",Lower Parel,Bar,9am to 1am,Excellent,4.6,5805,"Mon,9am to 130am(Tue-Sun"
13,Burn - Bar & Kitchen,1100,"Continental,Mexican,Italian,Chinese",Bandra Kurla Complex,Bar,1130am to 5am,Very Good,4.1,1510,"Mon,1130am to 130am(Tue,Wed..."
14,145 Bandra,1300,"Mexican,American,Desserts,European,Modern Indian",Bandra,Bar,12noon to 130am,Very Good,4.2,1552,Mon-Sun
16,Cafe Zoe,2000,"European,Italian,Burger,Salad,Healthy Food",Lower Parel,Casual Dining,730am to 130am,Very Good,4.1,3283,Mon-Sun
17,Ustaadi,1200,"Asian,Biryani,Chinese,North Indian,Mughlai,Mid...",Mumbai CST Area,Casual Dining,"12noon to 4pm,7pm to 4am",Very Good,4.3,1088,Mon-Sun
18,Cafe Maaz,350,"Chinese,North Indian,Mughlai,Biryani,Seafood",Bhandup,Quick Bites,8am to 1230AM,Very Good,4.0,881,Mon-Sun
19,Carter's Blue,900,"North Indian,Lebanese,Fast Food,Chinese",Malad,Casual Dining,12noon to 1230AM,Good,3.9,898,Mon-Sun
20,Rajasthan,700,"North Indian,Mughlai,Chinese,Fast Food",Khar,Casual Dining,12noon to 1am,Good,3.8,688,Mon-Sun
21,Harry's Bar + Cafe,1500,"Asian,Mexican,American",Powai,Casual Dining,Closed,Very Good,4.0,1967,"Mon,12noon to 130am(Tue-Sun"
22,New Ajwa Family Restaurant,500,"North Indian,Chinese,Mughlai,Kebab,Desserts",Marol,Casual Dining,10am to 4am,Very Good,4.4,316,Mon-Sun
23,Singh Saab,1600,"North Indian,Asian",Chembur,Casual Dining,"12noon to 3pm,7pm to 1230AM",Excellent,4.5,2214,Mon-Sun
24,Kasbah Grand,1400,"North Indian,Mughlai,Chinese,Thai,Seafood",Goregaon,Casual Dining,12noon to 130am,Very Good,4.0,2280,"Mon-Fri,12noon to 3am(Sat-Sun"
25,Elementaria Bakery Cafe,800,"Cafe,Desserts,Sandwich",Lower Parel,Café,10am to 130am,Very Good,4.1,693,Mon-Sun
26,Angrezi Patiyalaa,1200,"North Indian,Finger Food,American,Mexican,Chinese",Andheri,Casual Dining,12noon to 1230AM,Excellent,4.5,271,Mon-Sun
27,Door No.1,1500,"Asian,Italian,North Indian,Finger Food",Bandra,Casual Dining,11am to 1am,Very Good,4.4,870,Mon-Sun
28,Natural Ice Cream,150,"Desserts,Ice Cream",Vile Parle,Dessert Parlor,11am to 1am,Very Good,4.3,621,Mon-Sun
29,Punjab Grill,2000,"North Indian,Mughlai,Beverages",Lower Parel,Casual Dining,12noon to 1am,Very Good,4.4,3376,Mon-Sun
30,Locco Eatery & Bar,1400,"North Indian,Continental,Lebanese,Italian",CBD-Belapur,Bar,12noon to 130am,Very Good,4.3,424,Mon-Sun
33,Breadkart,400,Fast Food,Borivali,Quick Bites,4pm to 230am,Good,3.6,38,Mon-Sun
35,The Lemon Grass,300,"North Indian,Chinese",Vasai,Quick Bites,"12noon to 330pm,430pm to 2am",Average,3.4,33,Mon-Sun
37,Chote Nawab,550,"North Indian,Chinese",Chembur,Casual Dining,"12midnight to 130am,12noon to 12midnight...",Very Good,4.0,264,NA
38,Hari Om Sai,300,"Beverages,Fast Food",Thane,Quick Bites,11am to 1230AM,Average,3.4,8,Mon-Sun
40,Persian Hub Family Restaurant,450,"Chinese,Mughlai,North Indian,Iranian",Malad,Casual Dining,"12noon to 330pm,7pm to 330am",Average,3.0,72,"Mon,Tue,Wed..."
41,Magdalena,500,"Bakery,Desserts",Parel,Bakery,10am to 1230AM,Average,3.4,10,Mon-Sun
42,United Food Nation,500,"Fast Food,Burger,American,Beverages",Thane,Quick Bites,1pm to 1am,Very Good,4.1,303,Mon-Sun
43,Frisbees,600,"Fast Food,American,Burger",Andheri,Quick Bites,12noon to 12midnight,Very Good,4.3,2266,Mon-Sun
44,Bombay Vintage,1300,"North Indian,South Indian,Maharashtrian",Colaba,Casual Dining,12noon to 12midnight,Very Good,4.2,437,Mon-Sun
45,Arya Bhavan,400,"South Indian,Fast Food",Nariman Point,Casual Dining,7am to 11pm,Very Good,4.0,210,Mon-Sun
46,Chaubara 601,1000,North Indian,Thane,Casual Dining,530pm to 1130pm,Very Good,4.2,892,Mon-Sun
48,Queen Margherita's Pizzeria,600,"Pizza,Fast Food",Malad,Quick Bites,12noon to 11pm,Excellent,4.5,107,"Mon-Thu,12noon to 1130pm(Fri-Sun"
49,The Burger Brasserie,650,"Cafe,Fast Food,Burger,Beverages",Andheri,Café,1030am to 12midnight,Very Good,4.4,927,Mon-Sun
50,Spice Republic,1200,"Cafe,Continental,Mediterranean,Mexican,Italian...",Borivali,Café,1130am to 1145pm,Excellent,4.6,1292,Mon-Sun
51,Fleur - The Fern Goregaon,1200,"Thai,Continental,North Indian",Goregaon,Casual Dining,7am to 11pm,Very Good,4.2,962,Mon-Sun
52,Cat Café Studio,300,"Cafe,Beverages",Andheri,Café,10am to 11pm,Very Good,4.2,575,Mon-Sun
53,Thotrin Cafe,650,"North Eastern,Chinese",Santacruz,Quick Bites,12noon to 11pm,Very Good,4.2,227,Mon-Sun
54,Udipi Vihar,450,"North Indian,Chinese,South Indian,Fast Food",Goregaon,Casual Dining,8am to 12midnight,Good,3.8,572,Mon-Sun
55,B MAD - The Restaurant,1200,"North Indian,Italian,Mexican,Lebanese",Mulund,Casual Dining,"12noon to 3pm,6pm to 12midnight",Very Good,4.2,1071,Mon-Sun
56,Landmark Restaurant Veg Diet,700,"North Indian,Chinese,South Indian,Fast Food",Malad,Casual Dining,9am to 1145pm,Good,3.9,1067,Mon-Sun

In [48]:
# Replacing Small regions with Known region name
dataset['REGION'] = dataset['REGION'].str.replace('4 Bungalows|7 Andheri|Azad Nagar|Near Andheri Station|Veera Desai Area','Mumbai',regex=True)
dataset['REGION'] = dataset['REGION'].str.replace('Bandra Kurla Complex','Bandra',regex=True)
dataset['REGION'] = dataset['REGION'].str.replace('CBD-Belapur','CBD Belapur',regex=True)
dataset['REGION'] = dataset['REGION'].str.replace('Girgaon Chowpatty','Chowpatty',regex=True)
dataset['REGION'] = dataset['REGION'].str.replace('Dadar Shivaji Park','Dadar',regex=True)
dataset['REGION'] = dataset['REGION'].str.replace('Flea Bazaar Café|Kamala Mills Compound','Lower Parel',regex=True)
dataset['REGION'] = dataset['REGION'].str.replace('Runwal Green','Mulund',regex=True)
dataset['REGION'] = dataset['REGION'].str.replace('Mumbai CST Area','Mumbai Central',regex=True)
dataset['REGION'] = dataset['REGION'].str.replace('Kopar Khairane|Seawoods|Turbhe|Ulwe','Navi Mumbai',regex=True)
dataset['REGION'] = dataset['REGION'].str.replace('New Panvel|Old Panvel','Panvel',regex=True)
dataset['REGION'] = dataset['REGION'].str.replace('Kamothe','Sion',regex=True)
dataset['REGION'] = dataset['REGION'].str.replace('Ghodbunder Road|Majiwada','Thane',regex=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\4095691014.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\4095691014.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\4095691014.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\4095691014.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\4095691014.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\4095691014.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\4095691014.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\4095691014.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\4095691014.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\4095691014.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\4095691014.py:12: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20064\4095691014.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
dataset.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
15075    False
15076    False
15077    False
15078    False
15079    False
Length: 10767, dtype: bool

In [50]:
# Finding all the duplicate rows
dataset[dataset.duplicated()]

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES,DAYS_OPEN
4064,Sai Sannidhi Restaurant & Bar,1000,"North Indian,Konkan",Dahisar,Casual Dining,11am to 12midnight,Good,3.7,99,Mon-Sun
4068,Konkan Katta,400,"Seafood,Maharashtrian,Malwani",Mahakali,Quick Bites,"11am to 330pm,630pm to 1130pm",Good,3.5,181,Mon-Sun
4082,Usmaniya Hotel,600,Mughlai,Fort,Casual Dining,1030am to 1130pm,Average,3.2,8,Mon-Sun
4083,Gina's Cakes,450,Bakery,Dombivali,none,11am to 11pm,Good,3.5,49,Mon-Sun
4084,Konkanastha Lunch Home,400,"Seafood,Malwani",Chakala,Casual Dining,"12noon to 3pm,730pm to 1030pm",Good,3.5,44,Mon-Sun
...,...,...,...,...,...,...,...,...,...,...
14200,Mezbaan Family Restaurant,350,"Chinese,Mughlai",Mumbra,Dhaba,12noon to 1230AM,Average,2.8,97,Mon-Sun
14204,Jyoti Lunch Home,650,"Chinese,North Indian,Seafood,Mughlai",Mulund,Casual Dining,11am to 1230AM,Good,3.5,49,Mon-Sun
14253,On Toes,900,"Italian,North Indian,Chinese",Malad,Casual Dining,"12noon to 3pm,7pm to 1230AM",Good,3.6,76,Mon-Sun
14761,Frosty Farm,400,"Ice Cream,Desserts,Fast Food",Malad,Dessert Parlor,1pm to 1215AM,Good,3.6,120,Mon-Sun
14928,Shree Manu Sagar,300,"North Indian,Chinese,Indian",Ghansoli,Quick Bites,"1130am to 415pm,7pm to 1215AM",Average,3.3,51,Mon-Sun

In [51]:
# Dropping all the duplicate rows
dataset = dataset.drop_duplicates()

In [52]:
zomato_mumbaidataset = dataset.copy()

In [53]:
zomato_mumbaidataset.head(50)

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES,DAYS_OPEN
0,Hitchki,1200,"Modern Indian,North Indian,Chinese,Momos,Birya...",Bandra,Casual Dining,12noon to 130am,Excellent,4.9,3529,Mon-Sun
1,Baba Falooda,400,"Desserts,Ice Cream,Beverages",Mahim,Dessert Parlor,2pm to 1am,Very Good,4.4,1723,Mon-Sun
2,Chin Chin Chu,1800,"Asian,Chinese",Juhu,Casual Dining,12noon to 1am,Very Good,4.2,337,Mon-Sun
3,Butterfly High,1000,Modern Indian,Bandra,Bar,12noon to 130am,Very Good,4.3,1200,Mon-Sun
4,BKC DIVE,1200,"North Indian,Chinese,Continental",Bandra,Bar,1130am to 1am,Very Good,4.4,5995,Mon-Sun
5,Flea Bazaar Café,800,"American,Asian,Street Food,North Indian,Luckno...",Lower Parel,Café,12noon to 1am,Very Good,4.2,2042,Mon-Sun
6,Persian Darbar,1300,"Biryani,North Indian,Chinese,Mughlai",Marol,Casual Dining,10am to 3am,Excellent,4.5,3058,Mon-Sun
7,Tanatan,1500,Modern Indian,Juhu,Casual Dining,12noon to 130am,Excellent,4.7,1842,Mon-Sun
8,Cafe Safar,600,"Chinese,North Indian,Biryani",Andheri,Casual Dining,11am to 1am,Very Good,4.0,2797,Mon-Sun
9,Plum by Bent Chair,1800,Asian,Lower Parel,Casual Dining,12noon to 1am,Excellent,4.7,1876,Mon-Sun
10,Angrezi Dhaba,1500,"North Indian,Chinese,Thai,European",Dadar,Bar,12noon to 1am,Excellent,4.5,2092,Mon-Sun
11,Raasta,1200,"Continental,Seafood,Fast Food,Desserts,Italian...",Khar,Casual Dining,12noon to 1am,Very Good,4.0,3191,Mon-Sun
12,Todi Mill Social,1400,"American,North Indian,Chinese,Fast Food,Contin...",Lower Parel,Bar,9am to 1am,Excellent,4.6,5805,"Mon,9am to 130am(Tue-Sun"
13,Burn - Bar & Kitchen,1100,"Continental,Mexican,Italian,Chinese",Bandra,Bar,1130am to 5am,Very Good,4.1,1510,"Mon,1130am to 130am(Tue,Wed..."
14,145 Bandra,1300,"Mexican,American,Desserts,European,Modern Indian",Bandra,Bar,12noon to 130am,Very Good,4.2,1552,Mon-Sun
16,Cafe Zoe,2000,"European,Italian,Burger,Salad,Healthy Food",Lower Parel,Casual Dining,730am to 130am,Very Good,4.1,3283,Mon-Sun
17,Ustaadi,1200,"Asian,Biryani,Chinese,North Indian,Mughlai,Mid...",Mumbai Central,Casual Dining,"12noon to 4pm,7pm to 4am",Very Good,4.3,1088,Mon-Sun
18,Cafe Maaz,350,"Chinese,North Indian,Mughlai,Biryani,Seafood",Bhandup,Quick Bites,8am to 1230AM,Very Good,4.0,881,Mon-Sun
19,Carter's Blue,900,"North Indian,Lebanese,Fast Food,Chinese",Malad,Casual Dining,12noon to 1230AM,Good,3.9,898,Mon-Sun
20,Rajasthan,700,"North Indian,Mughlai,Chinese,Fast Food",Khar,Casual Dining,12noon to 1am,Good,3.8,688,Mon-Sun
21,Harry's Bar + Cafe,1500,"Asian,Mexican,American",Powai,Casual Dining,Closed,Very Good,4.0,1967,"Mon,12noon to 130am(Tue-Sun"
22,New Ajwa Family Restaurant,500,"North Indian,Chinese,Mughlai,Kebab,Desserts",Marol,Casual Dining,10am to 4am,Very Good,4.4,316,Mon-Sun
23,Singh Saab,1600,"North Indian,Asian",Chembur,Casual Dining,"12noon to 3pm,7pm to 1230AM",Excellent,4.5,2214,Mon-Sun
24,Kasbah Grand,1400,"North Indian,Mughlai,Chinese,Thai,Seafood",Goregaon,Casual Dining,12noon to 130am,Very Good,4.0,2280,"Mon-Fri,12noon to 3am(Sat-Sun"
25,Elementaria Bakery Cafe,800,"Cafe,Desserts,Sandwich",Lower Parel,Café,10am to 130am,Very Good,4.1,693,Mon-Sun
26,Angrezi Patiyalaa,1200,"North Indian,Finger Food,American,Mexican,Chinese",Andheri,Casual Dining,12noon to 1230AM,Excellent,4.5,271,Mon-Sun
27,Door No.1,1500,"Asian,Italian,North Indian,Finger Food",Bandra,Casual Dining,11am to 1am,Very Good,4.4,870,Mon-Sun
28,Natural Ice Cream,150,"Desserts,Ice Cream",Vile Parle,Dessert Parlor,11am to 1am,Very Good,4.3,621,Mon-Sun
29,Punjab Grill,2000,"North Indian,Mughlai,Beverages",Lower Parel,Casual Dining,12noon to 1am,Very Good,4.4,3376,Mon-Sun
30,Locco Eatery & Bar,1400,"North Indian,Continental,Lebanese,Italian",CBD Belapur,Bar,12noon to 130am,Very Good,4.3,424,Mon-Sun
33,Breadkart,400,Fast Food,Borivali,Quick Bites,4pm to 230am,Good,3.6,38,Mon-Sun
35,The Lemon Grass,300,"North Indian,Chinese",Vasai,Quick Bites,"12noon to 330pm,430pm to 2am",Average,3.4,33,Mon-Sun
37,Chote Nawab,550,"North Indian,Chinese",Chembur,Casual Dining,"12midnight to 130am,12noon to 12midnight...",Very Good,4.0,264,NA
38,Hari Om Sai,300,"Beverages,Fast Food",Thane,Quick Bites,11am to 1230AM,Average,3.4,8,Mon-Sun
40,Persian Hub Family Restaurant,450,"Chinese,Mughlai,North Indian,Iranian",Malad,Casual Dining,"12noon to 330pm,7pm to 330am",Average,3.0,72,"Mon,Tue,Wed..."
41,Magdalena,500,"Bakery,Desserts",Parel,Bakery,10am to 1230AM,Average,3.4,10,Mon-Sun
42,United Food Nation,500,"Fast Food,Burger,American,Beverages",Thane,Quick Bites,1pm to 1am,Very Good,4.1,303,Mon-Sun
43,Frisbees,600,"Fast Food,American,Burger",Andheri,Quick Bites,12noon to 12midnight,Very Good,4.3,2266,Mon-Sun
44,Bombay Vintage,1300,"North Indian,South Indian,Maharashtrian",Colaba,Casual Dining,12noon to 12midnight,Very Good,4.2,437,Mon-Sun
45,Arya Bhavan,400,"South Indian,Fast Food",Nariman Point,Casual Dining,7am to 11pm,Very Good,4.0,210,Mon-Sun
46,Chaubara 601,1000,North Indian,Thane,Casual Dining,530pm to 1130pm,Very Good,4.2,892,Mon-Sun
48,Queen Margherita's Pizzeria,600,"Pizza,Fast Food",Malad,Quick Bites,12noon to 11pm,Excellent,4.5,107,"Mon-Thu,12noon to 1130pm(Fri-Sun"
49,The Burger Brasserie,650,"Cafe,Fast Food,Burger,Beverages",Andheri,Café,1030am to 12midnight,Very Good,4.4,927,Mon-Sun
50,Spice Republic,1200,"Cafe,Continental,Mediterranean,Mexican,Italian...",Borivali,Café,1130am to 1145pm,Excellent,4.6,1292,Mon-Sun
51,Fleur - The Fern Goregaon,1200,"Thai,Continental,North Indian",Goregaon,Casual Dining,7am to 11pm,Very Good,4.2,962,Mon-Sun
52,Cat Café Studio,300,"Cafe,Beverages",Andheri,Café,10am to 11pm,Very Good,4.2,575,Mon-Sun
53,Thotrin Cafe,650,"North Eastern,Chinese",Santacruz,Quick Bites,12noon to 11pm,Very Good,4.2,227,Mon-Sun
54,Udipi Vihar,450,"North Indian,Chinese,South Indian,Fast Food",Goregaon,Casual Dining,8am to 12midnight,Good,3.8,572,Mon-Sun
55,B MAD - The Restaurant,1200,"North Indian,Italian,Mexican,Lebanese",Mulund,Casual Dining,"12noon to 3pm,6pm to 12midnight",Very Good,4.2,1071,Mon-Sun
56,Landmark Restaurant Veg Diet,700,"North Indian,Chinese,South Indian,Fast Food",Malad,Casual Dining,9am to 1145pm,Good,3.9,1067,Mon-Sun

##Q1) How many restaurants are in Mumbai for each type of cuisine?

In [69]:
 !pip install -U kaleido

Requirement already satisfied: kaleido in c:\users\lenovo\anaconda3\envs\aiml\lib\site-packages (0.2.1)

In [81]:
fig = px.histogram(zomato_mumbaidataset, x='CUSINE TYPE', color='CUSINE TYPE',
 title= 'No. of Restaurants by Cuisine Type',
 labels={'CUSINE TYPE':'Cuisine Type'})
fig.show()

##Q2) What are the percentage of restaurants by Rating Type in Mumbai?

In [96]:
rating_type_df = zomato_mumbaidataset['RATING_TYPE'].value_counts().reset_index()
rating_type_df.rename(columns={'index':'RATING TYPE', 'RATING_TYPE':'COUNT OF RESTAURANTS'}, inplace=True)
rating_type_df

  COUNT OF RESTAURANTS  count
0              Average   4983
1                 Good   4263
2            Very Good   1145
3            Excellent     96
4                 Poor     56
5            Very Poor      4

In [104]:
fig = px.pie(rating_type_df, names='COUNT OF RESTAURANTS', values='count', color='count',
 title='Percentage of Restaurants by Rating Type').update_traces(textposition='inside', textinfo='percent+label')
fig.show()

##Q3) Which are the Top 10 highest rated Seafood Restaurant in Mumbai?

In [105]:
seafood_df = zomato_mumbaidataset[zomato_mumbaidataset['CUSINE_CATEGORY'].str.contains('Seafood')]
seafood_df.sort_values(by='RATING',ascending=False).head(10)

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES,DAYS_OPEN
7104,Thangabali,1000,"Seafood,South Indian,Mangalorean,Andhra,Kerala",Khar,Bar,"12noon to 4pm,7pm to 3am",Excellent,4.7,564,Mon-Sun
76,Ceremonial Kitchen & Co,1000,"Seafood,Maharashtrian,North Indian,Chinese",Thane,Casual Dining,1130am to 1130pm,Excellent,4.6,350,Mon-Sun
13685,Maharashtra Lunch Home,600,"Maharashtrian,Malwani,Konkan,Seafood",Kharghar,Casual Dining,"11am to 345pm,7pm to 1145pm",Excellent,4.6,209,Mon-Sun
12433,Quarter Canteen,1100,"North Indian,Seafood,Chinese",Bandra,Casual Dining,"12noon to 330pm,7pm to 1am",Excellent,4.5,573,Mon-Sun
902,The Harbour Bay - SeaFood Kitchen & Bar,2400,"Seafood,Beverages",Bandra,Casual Dining,12noon to 1am,Excellent,4.5,100,Mon-Sun
884,Rajmanya- Seafood family restaurant,800,"Maharashtrian,Konkan,Seafood",Vashi,Casual Dining,11am to 11pm,Excellent,4.5,178,Mon-Sun
3380,Peco Peco,700,"Chinese,Seafood,Asian",Powai,none,"12noon to 330pm,7pm to 1230AM",Excellent,4.5,497,Mon-Sun
9954,Pi Bar and Kitchen,1600,"Continental,European,Italian,Seafood,Pizza,Des...",Andheri,Bar,"12noon to 6pm,7pm to 12midnight",Excellent,4.5,2068,Mon-Sun
903,Ferry Wharf,1500,"Seafood,Mangalorean",Bandra,Casual Dining,"11am to 330pm,7pm to 1230AM",Very Good,4.4,459,Mon-Sun
915,Monis Bar and Restaurant,1000,"North Indian,Chinese,Continental,Seafood,Bever...",Thane,Casual Dining,"1130am to 330pm,6pm to 1130pm",Very Good,4.4,662,Mon-Sun

###Q4) Which is the best Food Truck in Mumbai?

In [113]:
foodtruck_df = zomato_mumbaidataset[zomato_mumbaidataset['CUSINE TYPE'] == 'Food Truck']
foodtruck_df.sort_values(by='RATING',ascending=False).head(2)

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES,DAYS_OPEN
262,Dumpling Delights,200,Momos,Matunga,Food Truck,430pm to 930pm,Very Good,4.3,212,Mon-Sun
1017,Street Food Co.,250,"Fast Food,Chinese",Virar,Food Truck,6pm to 3am,Very Good,4.1,274,Mon-Sun

##Q5) Which places have the highest rated restaurant for each Cuisine Type in Mumbai?

In [109]:
highest_rated_df = zomato_mumbaidataset[zomato_mumbaidataset['RATING'] >= 4.5]
highest_rated_df

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES,DAYS_OPEN
0,Hitchki,1200,"Modern Indian,North Indian,Chinese,Momos,Birya...",Bandra,Casual Dining,12noon to 130am,Excellent,4.9,3529,Mon-Sun
6,Persian Darbar,1300,"Biryani,North Indian,Chinese,Mughlai",Marol,Casual Dining,10am to 3am,Excellent,4.5,3058,Mon-Sun
7,Tanatan,1500,Modern Indian,Juhu,Casual Dining,12noon to 130am,Excellent,4.7,1842,Mon-Sun
9,Plum by Bent Chair,1800,Asian,Lower Parel,Casual Dining,12noon to 1am,Excellent,4.7,1876,Mon-Sun
10,Angrezi Dhaba,1500,"North Indian,Chinese,Thai,European",Dadar,Bar,12noon to 1am,Excellent,4.5,2092,Mon-Sun
...,...,...,...,...,...,...,...,...,...,...
14228,Zaika Crave - Club Aquaria,1300,"North Indian,Continental,Chinese,Desserts",Borivali,Casual Dining,"11am to 330pm,7pm to 1130pm",Excellent,4.5,1302,"Mon,Tue,Wed..."
14234,Cone Culture,250,European,Kharghar,Casual Dining,Closed,Excellent,4.6,492,"Mon,12noon to 11pm(Tue-Sun"
15007,Dessertino,300,"Desserts,Ice Cream",Kandivali,Dessert Parlor,11am to 12midnight,Excellent,4.8,184,Mon-Sun
15051,Tick-eat,800,"North Indian,Italian,Chinese,Mexican,Lebanese",Mulund,Casual Dining,"1130am to 330pm,7pm to 1130pm",Excellent,4.5,754,Mon-Sun
15056,Daftar Goregaon,750,"Pizza,Chinese,North Indian,Beverages",Goregaon,Casual Dining,12noon to 1130pm,Excellent,4.6,388,Mon-Sun

In [111]:
fig = px.histogram(highest_rated_df, x='REGION', color='CUSINE TYPE',
 title= 'No. of Best Restaurant for each Cuisine Type by Places').update_xaxes(categoryorder="total descending")
fig.show()

##Q6) What is the Avg Price Distibution of highest rated restaurant for each Cuisine Type in Mumbai?

In [114]:
highest_rated_price_df = highest_rated_df.groupby(by=['REGION', 'CUSINE TYPE'])['PRICE'].mean().reset_index()
highest_rated_price_df.head()

    REGION     CUSINE TYPE   PRICE
0  Andheri             Bar  1600.0
1  Andheri            Café   800.0
2  Andheri   Casual Dining  1212.5
3  Andheri  Dessert Parlor   300.0
4  Andheri          Lounge  1700.0

In [115]:
fig = px.scatter(highest_rated_price_df, x="REGION", y="PRICE", color="CUSINE TYPE", symbol="CUSINE TYPE",
 title=' Avg Price Distibution of High rated restaurant for each Cuisine Type').update_traces(marker_size=10)
fig.show()

###Q7) Which areas have a large number of Chinese Restaurant Market?

In [116]:
chinese_df = zomato_mumbaidataset[zomato_mumbaidataset['CUSINE_CATEGORY'].str.contains('Chinese')]
chinese_df

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,TIMING,RATING_TYPE,RATING,VOTES,DAYS_OPEN
0,Hitchki,1200,"Modern Indian,North Indian,Chinese,Momos,Birya...",Bandra,Casual Dining,12noon to 130am,Excellent,4.9,3529,Mon-Sun
2,Chin Chin Chu,1800,"Asian,Chinese",Juhu,Casual Dining,12noon to 1am,Very Good,4.2,337,Mon-Sun
4,BKC DIVE,1200,"North Indian,Chinese,Continental",Bandra,Bar,1130am to 1am,Very Good,4.4,5995,Mon-Sun
5,Flea Bazaar Café,800,"American,Asian,Street Food,North Indian,Luckno...",Lower Parel,Café,12noon to 1am,Very Good,4.2,2042,Mon-Sun
6,Persian Darbar,1300,"Biryani,North Indian,Chinese,Mughlai",Marol,Casual Dining,10am to 3am,Excellent,4.5,3058,Mon-Sun
...,...,...,...,...,...,...,...,...,...,...
15071,Lucknow Zaika,500,"North Indian,Chinese",Kurla,Quick Bites,12noon to 2am,Average,2.6,36,Mon-Sun
15072,Zuha's Kitchen,400,"Chinese,North Indian,Mughlai",Mumbai Central,Quick Bites,"12noon to 4pm,730pm to 430am",Average,3.3,13,Mon-Sun
15075,Tirupati Balaji,500,"Chinese,Fast Food,North Indian",Andheri,Casual Dining,"8am to 11pm,12midnight to 115am",Good,3.5,267,Mon-Sun
15076,Hari Om Snack Bar,350,"Fast Food,South Indian,Chinese",Kandivali,Quick Bites,11am to 230am,Good,3.7,64,Mon-Sun
15079,Mandarin Panda,400,"Desserts,Chinese,Thai",Malad,none,"12noon to 330pm,7pm to 1am",Good,3.7,121,Mon-Sun

In [130]:
chinese_rest_df = chinese_df.groupby(by='REGION').agg({'NAME' : 'count', 'PRICE' : 'mean'}).rename(columns= {'NAME' : 'COUNT OF RESTAURANTS'})
chinese_rest_df = chinese_rest_df.sort_values('COUNT OF RESTAURANTS', ascending=False).head(25)                                                                               
chinese_rest_df.head()

           COUNT OF RESTAURANTS       PRICE
REGION
Thane                       371  590.983827
Mira Road                   224  553.348214
Malad                       186  604.032258
Mumbai                      176  603.125000
Goregaon                    163  548.773006

In [141]:
# Assuming 'chinese_rest_df' is your DataFrame
chinese_rest_df.reset_index(inplace=True)  # Resetting the index to make 'REGION' a column
fig = px.bar(chinese_rest_df, x='REGION', y='COUNT OF RESTAURANTS', color='PRICE', title='No. of Chinese Restaurant by places')
fig.show()

##Q8) Is there a relation between Price and Rating by each Cuisine Type?

In [143]:
price_rating_df = zomato_mumbaidataset.groupby(['CUSINE TYPE', 'RATING'])['PRICE'].mean().reset_index()
price_rating_df

    CUSINE TYPE  RATING       PRICE
0        Bakery     2.7  400.000000
1        Bakery     2.8  285.714286
2        Bakery     2.9  328.571429
3        Bakery     3.0  300.000000
4        Bakery     3.1  369.117647
..          ...     ...         ...
278        none     4.3  683.333333
279        none     4.4  555.000000
280        none     4.5  420.000000
281        none     4.6  687.500000
282        none     4.7  350.000000

[283 rows x 3 columns]

In [144]:
fig = px.line(price_rating_df, y="PRICE", x="RATING",color='CUSINE TYPE')
fig.show()

##Q9) Is there a relation between Region and Price?

In [145]:
region_price_df = zomato_mumbaidataset.groupby(['REGION'])['PRICE'].mean().reset_index()
region_price_df

        REGION       PRICE
0       Airoli  452.287582
1      Alibaug  665.000000
2    Ambernath  514.000000
3      Andheri  590.049383
4       Bandra  724.945946
..         ...         ...
76    Vikhroli  480.434783
77  Vile Parle  464.457831
78       Virar  452.027027
79      Wadala  427.500000
80       Worli  537.012987

[81 rows x 2 columns]

In [148]:
fig = px.scatter(region_price_df, x="REGION", y="PRICE").update_traces(marker_size=8)
fig.show()

##Q10) Find the list of Affordable Restaurants?

In [149]:
max_price = zomato_mumbaidataset['PRICE'].max()
one_fourth_price = max_price/4
one_fourth_price

1250.0

In [150]:
# Finding list of restaurants that have price less than and equal to 1/4th of the max price i.e Finding Cheap Restauran
aff_rest_df = zomato_mumbaidataset[['NAME', 'PRICE', 'CUSINE_CATEGORY', 'REGION', 'CUSINE TYPE']]
aff_rest_df = aff_rest_df[aff_rest_df['PRICE'] <= 1250]
aff_rest_df.sort_values(by='PRICE', inplace=True)
aff_rest_df

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE
6137,Sanjog Wine N Dine,5,"North Indian,Chinese",Thane,Casual Dining
2925,Jab We Eat,50,"South Indian,North Indian,Maharashtrian,Fast Food",Girgaum,none
9598,Ho5 Store,50,Fast Food,Matunga,none
9589,Golden Butterfly,100,"Bakery,Desserts",Mira Road,Bakery
5916,Madhuri Puranpoli,100,Maharashtrian,Vile Parle,none
...,...,...,...,...,...
2740,Peninsula Next,1200,"North Indian,Mughlai,Chinese",Sion,Casual Dining
5528,The Thekka,1200,"Finger Food,Continental,North Indian,Chinese",Vashi,Lounge
964,Bijoli Grill,1250,Bengali,Powai,Casual Dining
6045,Fabelle at The Chocolate Boutique - ITC Grand ...,1250,Desserts,Parel,Dessert Parlor
7301,SamBar Pub & Kitchen,1250,"Finger Food,South Indian,North Indian",Khar,Pub

In [151]:
# Finding the highest rated list of restaurants
highrate_rest_df = zomato_mumbaidataset[['NAME', 'PRICE', 'CUSINE_CATEGORY', 'REGION', 'CUSINE TYPE','RATING']]
highrate_rest_df = highrate_rest_df[highrate_rest_df['RATING'] >= 4.5]
highrate_rest_df.sort_values(by='PRICE', inplace=True)
highrate_rest_df

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,RATING
1502,Cake Centre-The Dessert Maker,150,Desserts,Mohammad Ali Road,Dessert Parlor,4.6
763,Curry And Combos Twist,200,"North Indian,Chinese",Andheri,Quick Bites,4.5
807,Moussestruck,200,Desserts,Mumbai,none,4.5
14234,Cone Culture,250,European,Kharghar,Casual Dining,4.6
725,Belo Pops,300,"Ice Cream,Desserts,Beverages",Andheri,none,4.5
...,...,...,...,...,...,...
5335,Mia Cucina,2000,Italian,Bandra,Casual Dining,4.5
1786,Global Fusion,2000,"Chinese,Japanese,Asian,North Indian",Worli,Fine Dining,4.6
8887,Drifters Tap Station,2000,"North Indian,Continental,European,American",Bandra,Casual Dining,4.5
12625,House of Mandarin,2100,"Chinese,Sushi,Asian",Bandra,Casual Dining,4.5
902,The Harbour Bay - SeaFood Kitchen & Bar,2400,"Seafood,Beverages",Bandra,Casual Dining,4.5

In [152]:
highrate_aff_df = pd.merge(aff_rest_df, highrate_rest_df, how='inner', on=['NAME', 'REGION'])
highrate_aff_df = highrate_aff_df[['NAME', 'PRICE_x', 'CUSINE_CATEGORY_x', 'REGION', 'CUSINE TYPE_x']]
highrate_aff_df.rename(columns={'NAME':'NAME', 'PRICE_x':'PRICE', 'CUSINE_CATEGORY_x':'CUSINE_CATEGORY',
 'REGION':'REGION', 'CUSINE TYPE_x':'CUSINE TYPE'},inplace=True)

In [153]:
# Affordable Restaurants with low price and high rating
highrate_aff_df

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE
0,Cake Centre-The Dessert Maker,150,Desserts,Mohammad Ali Road,Dessert Parlor
1,Curry And Combos Twist,200,"North Indian,Chinese",Andheri,Quick Bites
2,Moussestruck,200,Desserts,Mumbai,none
3,Cone Culture,250,European,Kharghar,Casual Dining
4,Smiley Pops,300,"Desserts,Ice Cream,Beverages,Sandwich",Andheri,Dessert Parlor
...,...,...,...,...,...
60,Wild Dining Restaurant,1200,"North Indian,Continental,Mexican,Chinese",Andheri,Casual Dining
61,Invento,1200,"Chinese,Fast Food,North Indian,Italian,Mexican",Lower Parel,Casual Dining
62,Culinary Tales,1200,"Chinese,European,Continental,Salad,Italian,Pizza",Mumbai,Casual Dining
63,Hitchki,1200,"Modern Indian,North Indian,Chinese,Momos,Birya...",Bandra,Casual Dining
64,The Joker Bistro,1200,"North Indian,Chinese,Continental",CBD Belapur,Casual Dining

##Q10) Find the list of most Reliable Restaurants?

In [155]:
mean_votes = zomato_mumbaidataset['VOTES'].mean()
mean_votes

177.2656679624538

In [157]:
# Finding list of restaurants that have Votes greater than and equal to Mean of Vote
mean_rest_df = zomato_mumbaidataset[['NAME', 'PRICE', 'CUSINE_CATEGORY', 'REGION', 'CUSINE TYPE', 'VOTES']]
mean_rest_df = mean_rest_df[mean_rest_df['VOTES'] > 177]
mean_rest_df.sort_values(by='VOTES', inplace=True)
mean_rest_df

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE,VOTES
4194,Sai Sagar Veg Treat,500,"North Indian,South Indian,Chinese,Fast Food,Be...",Kalyan,Casual Dining,178
884,Rajmanya- Seafood family restaurant,800,"Maharashtrian,Konkan,Seafood",Vashi,Casual Dining,178
3914,Ice Cafe,500,"Fast Food,Ice Cream,Beverages,Pizza",Borivali,Quick Bites,178
7897,Konkan Lajjatdar,500,"Seafood,Biryani,Beverages,Chinese,Malwani,Konkan",Andheri,Casual Dining,178
3828,Frozen Delight -The Dessert Cafe,250,"Desserts,Ice Cream",Airoli,Dessert Parlor,178
...,...,...,...,...,...,...
8539,Leopold Cafe & Bar,1600,"American,Chinese,Mughlai,Italian",Colaba,Casual Dining,7327
1251,Joey's Pizza,800,Pizza,Malad,Quick Bites,7350
5337,Chili's American Grill & Bar,1400,"American,Mexican,Burger,Tex-Mex",Powai,Casual Dining,7377
3751,Prithvi Cafe,700,"Cafe,Fast Food",Juhu,Café,8000
8897,Candies,700,"Cafe,Italian,North Indian,Desserts",Bandra,Café,10217

In [158]:
reliable_rest_df = pd.merge(mean_rest_df, highrate_aff_df, how='inner', on=['NAME', 'REGION'])
reliable_rest_df = reliable_rest_df[['NAME', 'PRICE_x', 'CUSINE_CATEGORY_x', 'REGION', 'CUSINE TYPE_x']]
reliable_rest_df.rename(columns={'NAME':'NAME', 'PRICE_x':'PRICE', 'CUSINE_CATEGORY_x':'CUSINE_CATEGORY',
 'REGION':'REGION', 'CUSINE TYPE_x':'CUSINE TYPE'},inplace=True)

In [159]:
reliable_rest_df

,NAME,PRICE,CUSINE_CATEGORY,REGION,CUSINE TYPE
0,Rajmanya- Seafood family restaurant,800,"Maharashtrian,Konkan,Seafood",Vashi,Casual Dining
1,Fresh Food Co.,500,"Continental,Healthy Food,Salad,Beverages,Desse...",Santacruz,none
2,Dessertino,300,"Desserts,Ice Cream",Kandivali,Dessert Parlor
3,Invento,1200,"Chinese,Fast Food,North Indian,Italian,Mexican",Lower Parel,Casual Dining
4,Maharashtra Lunch Home,600,"Maharashtrian,Malwani,Konkan,Seafood",Kharghar,Casual Dining
5,Regano's,600,"Continental,Fast Food,Italian,Desserts",Malad,Casual Dining
6,Big Bang Cuurry,350,"North Indian,Biryani,Rolls",Mumbai,none
7,Sandy's Den,1000,"Fast Food,Bar Food",Chembur,Casual Dining
8,Angrezi Patiyalaa,1200,"North Indian,Finger Food,American,Mexican,Chinese",Andheri,Casual Dining
9,Maezo,1000,Modern Indian,Thane,Casual Dining
10,Tossin Pizza,900,"Pizza,Italian,Fast Food",Chembur,Casual Dining
11,Little West Pizza,600,Pizza,Borivali,Quick Bites
12,Ceremonial Kitchen & Co,1000,"Seafood,Maharashtrian,North Indian,Chinese",Thane,Casual Dining
13,Moussestruck,200,Desserts,Mumbai,none
14,Daftar Goregaon,750,"Pizza,Chinese,North Indian,Beverages",Goregaon,Casual Dining
15,Poetry By Love & Cheesecake,1000,"Cafe,Desserts",Juhu,Café
16,Makhan Singh,800,"North Indian,Chinese,Biryani",Powai,none
17,The Joker Bistro,1200,"North Indian,Chinese,Continental",CBD Belapur,Casual Dining
18,Cone Culture,250,European,Kharghar,Casual Dining
19,Peco Peco,700,"Chinese,Seafood,Asian",Powai,none
20,Shuruwat- Veg Food Journey,600,"Continental,Tea,South Indian,Fast Food,Pizza,N...",Ghatkopar,Casual Dining
21,Justice Cafe and Dine,800,"Cafe,Chinese,Italian,Continental,North Indian,...",Thane,Café
22,Thangabali,1000,"Seafood,South Indian,Mangalorean,Andhra,Kerala",Khar,Bar
23,Harsh's Bistro,800,"Chinese,Continental",Malad,Casual Dining
24,Quarter Canteen,1100,"North Indian,Seafood,Chinese",Bandra,Casual Dining
25,Culinary Tales,1200,"Chinese,European,Continental,Salad,Italian,Pizza",Mumbai,Casual Dining
26,Dum & Curry,700,"Mughlai,North Indian,Chinese",Powai,Quick Bites
27,Curry Culture,800,"North Indian,Biryani,Chinese,Kebab,Mughlai,Asian",Powai,none
28,Belo Pops,300,"Ice Cream,Desserts,Beverages",Andheri,none
29,Tick-eat,800,"North Indian,Italian,Chinese,Mexican,Lebanese",Mulund,Casual Dining
30,Coppetto Artisan Gelato,350,"Ice Cream,Desserts",Bandra,Dessert Parlor
31,Zaika Restaurant & Party Hall,1000,"North Indian,Chinese,Beverages",Bhayandar,Casual Dining
32,Shaollin Temple,1000,"Chinese,Thai",CBD Belapur,Casual Dining
33,Spice Republic,1200,"Cafe,Continental,Mediterranean,Mexican,Italian...",Borivali,Café
34,Aquafire Restaurant,1100,"North Indian,Continental,Chinese,Italian",Vile Parle,Casual Dining
35,Rajdhani,950,"Gujarati,Rajasthani,North Indian",Ghatkopar,Casual Dining
36,Wild Dining Restaurant,1200,"North Indian,Continental,Mexican,Chinese",Andheri,Casual Dining
37,Family Tree,800,"Italian,Mexican,North Indian,Chinese,Salad",Thane,Casual Dining
38,Bombay Salad Co.,900,"Salad,Healthy Food,Juices",Bandra,Casual Dining
39,Cafe Monza,1000,"Italian,American,Salad,Mexican",Kharghar,Casual Dining
40,Hitchki,1200,"Modern Indian,North Indian,Chinese,Momos,Birya...",Bandra,Casual Dining
41,Vedge,1000,"Thai,Chinese,North Indian,Mexican,Italian,Asian",Mumbai,Casual Dining
42,Joey's Pizza,800,Pizza,Malad,Quick Bites